.decoration {
    height: 137px;
    width: 100%;
    background-image: url('../img/decoration.png');
    background-color: #F6F6F6;
    background-repeat: no-repeat;
    background-position: 50% 50%;

}