.preview {
    background-image: url('../img/header-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.preview__shade {
    padding-top: 65px;
    padding-bottom: 55px;
    background: rgba(12, 12, 12, 0.85);
}

.preview__title {
    margin: 0;
    color: $primary-light;
    font-size: 40px;
    text-align: center;

    &--small {
        font-size: 20px;
        font-weight: normal;
        margin-top: 11px;
        margin-bottom: 27px;

    }
}